<div class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<a href="{{ "/index.html" | prepend: site.baseurl }}" class="navbar-brand">Home</a>
			<button class="navbar-toggle" type="button" data-toggle="collapse"
				data-target="#navbar-main">
				<span class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
		</div>
		<div class="collapse navbar-collapse" id="navbar-main">
			<ul class="nav navbar-nav">
				<li><a href="http://quarks-edge.github.io" target="_blank">Github</a>
				</li>
				<li><a
					href="http://quarks-edge.github.io/quarks.documentation"
					target="_blank">Documentation</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a
					href="https://github.com/quarks-edge/quarks/issues/new?title=Feedback for {{page.url}}"
					target="_blank">Feedback</a></li>
				<li><a
					href="https://github.com/quarks-edge/quarks"
					target="_blank">Project Page</a></li>
			</ul>

			{% include search.html%}

		</div>
	</div>
</div>
